@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding-left: 7%;
  padding-right: 7%;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.nab {
  height: 100px;
}
.nab img {
  height: 100%;
  aspect-ratio: 1/1;
}
.house {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.boot-grid .house {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.boot-grid .house .pixx {
  display: flex;
}
